In [68]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic
import time

In [2]:
start = time.time()
data = pd.read_csv('/Users/sazid/Documents/vinlus dataset/GPS Spoofing Detection with Parallel Computing/aisdk-2006-03/aisdk_20060302.csv')

In [3]:
data1 = data.rename(columns = {'# Timestamp':'Timestamp'})
data1['Timestamp']=pd.to_datetime(data1['Timestamp'], format='%d/%m/%Y %H:%M:%S')
data1['ETA']= pd.to_datetime(data1['ETA'], format='%d/%m/%Y %H:%M:%S', errors='coerce')

In [4]:
data1 = data1[ ~(
    
    data1['ROT'].isnull() &
    data1['SOG'].isnull() &
    data1['Navigational status'].str.contains('Unknown value',case=False, na=False)
    
)]

In [5]:
data1 = data1.drop(['IMO','Callsign','Cargo type','Ship type'], axis=1)

In [51]:
data1['SOG'].isnull().sum()

2532

In [52]:
data1['SOG'] = data1['SOG'].fillna(0)

In [127]:
data1 =  data1[((data1['Latitude']<=90) & (data1['Latitude']>= -90)) & ((data1['Longitude']<=180 ) & (data1['Longitude']>= -180))]

In [128]:
data1

,Timestamp,Type of mobile,MMSI,Latitude,Longitude,Navigational status,ROT,SOG,COG,Heading,Name,Width,Length,Type of position fixing device,Draught,Destination,ETA,Data source type
336,2006-03-02 00:00:46,Class A,0,56.039903,12.689080,Unknown value,NaN,0.0,0.0,NaN,JOTRON0,NaN,NaN,GPS,NaN,NaN,NaT,AIS
2750,2006-03-02 00:05:56,Class A,0,56.039903,12.689080,Unknown value,NaN,0.0,0.0,NaN,JOTRON0,NaN,NaN,GPS,NaN,NaN,NaT,AIS
2867,2006-03-02 00:06:11,Class A,0,56.039903,12.689080,Unknown value,NaN,0.0,0.0,NaN,JOTRON0,NaN,NaN,GPS,NaN,NaN,NaT,AIS
3153,2006-03-02 00:06:47,Class A,0,56.039903,12.689080,Unknown value,NaN,0.0,0.0,NaN,JOTRON0,NaN,NaN,GPS,NaN,NaN,NaT,AIS
5674,2006-03-02 00:12:15,Class A,0,56.039903,12.689080,Unknown value,NaN,0.0,0.0,NaN,JOTRON0,NaN,NaN,GPS,NaN,NaN,NaT,AIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374726,2006-03-02 12:30:55,Class A,999999999,55.475503,8.429478,Unknown value,NaN,0.0,141.2,NaN,NaN,NaN,NaN,Undefined,NaN,NaN,NaT,AIS
374894,2006-03-02 12:31:05,Class A,999999999,55.475508,8.429477,Unknown value,NaN,0.1,175.4,NaN,NaN,NaN,NaN,Undefined,NaN,NaN,NaT,AIS
375056,2006-03-02 12:31:15,Class A,999999999,55.475515,8.429472,Unknown value,NaN,0.4,162.7,NaN,NaN,NaN,NaN,Undefined,NaN,NaN,NaT,AIS
375220,2006-03-02 12:31:25,Class A,999999999,55.475528,8.429468,Unknown value,NaN,0.0,145.4,NaN,NaN,NaN,NaN,Undefined,NaN,NaN,NaT,AIS
375361,2006-03-02 12:31:35,Class A,999999999,55.475533,8.429465,Unknown value,NaN,0.0,86.0,NaN,NaN,NaN,NaN,Undefined,NaN,NaN,NaT,AIS

In [129]:
data1 = data1.sort_values(by=['MMSI','Timestamp'])

In [130]:
groups = tuple(data1.groupby('MMSI'))

In [131]:
len(groups)

2258

In [132]:
chunk_size = 10

In [133]:
chunk = [groups[i:i+chunk_size] for i in range(0, len(groups), chunk_size)]

In [134]:
len(chunk)

226

In [402]:
loc_anamoly_container = pd.DataFrame()
mmsi_ship=[]
total_records_ship = []
flag_count_ship =[]
mega_jump_ship = []
final_flag_ship = []
final_jump_count_ship = []

In [403]:
container = chunk[0]
mmsi , data2 = container[0]

Manually calculating chunk spoofing:

In [408]:
for i in range(len(chunk)-1):
          for j in range(len(container)):
                container = chunk[i]
                mmsi , data2 = container[j]
                
        
        
            
            
                time2 = None
                lat1 = None
                lon1 = None
                count = 0
                flag_count = 0
                final_flag_count = 0
                jump_count = 0
                flag_sequence = 0
                flag_sequence_count = 0
                name = 0
                ob1 = None
                jump_sequence = None
                jump_sequence_count = None
                final_jump_count = 0
                
                for i2,row in data2.iterrows():
                    count+=1
                    
                    lat = row['Latitude']
                    lon = row['Longitude']
                    point = (lat,lon)   
                    time1 = row['Timestamp']
                    speed = row['SOG'] * 1.852
                
                    if count>=2:
                        time_dif = (time1 - time2).total_seconds()/60           #in minutes
                        dis = geodesic(point, point1).kilometers 
                        max_can_go = 1 * time_dif                               #as at 30 knot(.92 km/m) speed, ship can go 1km max in 1 minutes
                        #print('Distance: ', dis,'KM','  Time difference: ',time_dif, 'maximum distance can cover in this time: ', max_can_go, 'Actual speed: ', 
                             # speed, 
                             # 'with actual speed should go: ', speed/60 * time_dif, time1)
                
                
                        #detecting mid level anamolies 
                        if   (dis > max_can_go*3) and (dis<max_can_go * 50)  :
                            
                            
                            flag_count+=1
                            ob = data.index[count]-1
                            #print(ob)
                            
                            if (flag_sequence == ob) :
                                flag_sequence_count += 1
                                #print('scon',flag_sequence_count)
                                
                            if (flag_sequence != ob) :
                                 flag_sequence_count = 0
                
                                    
                            if flag_sequence_count >=2:
                                final_flag_count+=1
                                flag_sequence_count = 0
                           
                
                            #print(flag_sequence)
                            flag_sequence = data.index[count]
                         
                            #print('flag  ')
                
                            #detecting jump (serious)
                
                        if dis > max_can_go * 50 :
                            jump_count+=1
                            ob1 = data.index[count]-1
                            
                            if (jump_sequence == ob1) :
                                jump_sequence_count += 1         
        
                            if (jump_sequence != ob1) :
                                 jump_sequence_count = 0
        
                            if jump_sequence_count >=1:
                                final_jump_count+=1
                                jump_sequence_count = 0
        
                            
                            jump_sequence = data.index[count]
        
        
        
                            
                            
                            
                            #print('Mega Jump  ')
                                  
                   
                    time2 = time1
                    lat1 = lat
                    lon1 = lon
                    point1 = (lat1,lon1)
                    
                
                
                #print('Total flag: ', flag_count,'  Mega Jump: ',jump_count, count) 
                #print('final_flag: ', final_flag_count,'\n\n\n', i ,'\n',j)
                
                mmsi_ship.append(mmsi)
                total_records_ship.append(count)
                flag_count_ship.append(flag_count)
                mega_jump_ship.append(jump_count)
                final_flag_ship.append(final_flag_count)
                final_jump_count_ship.append(final_jump_count)

In [405]:
loc_anamoly_container['mmsi_ship']= mmsi_ship
loc_anamoly_container['total_records_ship']= total_records_ship
loc_anamoly_container['flag_count_ship']= flag_count_ship
loc_anamoly_container['mega_jump_ship']= mega_jump_ship
loc_anamoly_container['final_flag_ship']= final_flag_ship
loc_anamoly_container['final_jump_count_ship']= final_jump_count_ship

In [406]:
with pd.option_context('Display.max_rows', None):
 display(loc_anamoly_container[(loc_anamoly_container['final_flag_ship']>=1) | (loc_anamoly_container['final_jump_count_ship']>=1) ])

,mmsi_ship,total_records_ship,flag_count_ship,mega_jump_ship,final_flag_ship,final_jump_count_ship
0,0,591,0,30,0,11
2,1193046,476,7,102,0,36
1390,259759000,52,1,3,0,1
1681,265539620,3202,767,3,301,0

In [ ]:
end = time.time()

print('Total time: ' , start-end)

Now, Multicompute each chunk

In [1]:
import multiprocessing as mp

In [2]:
print('sd')

sd